@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@200&family=Source+Sans+Pro&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: Roboto;
    list-style: none;
}


/* scroll bar */ 
::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background:#dddddd;
}

::-webkit-scrollbar-thumb{
    background:#eb6864
}


a{
    text-decoration: none;
    color: black;
}

/* navbar */
nav{
    background-color: $primaryColor;
    .nav-item a{
        font-size: 25px;
    }

}

body{
    background-color: $backgroundColor;
    overflow-x: hidden;

}

/* footer */

footer{
    background-color: black;
    position: relative;
    width: 50px;
    height: fit-content;
    h5{
        size: 30px;
        padding-top: 5px;
        color:white;
        font-family: Roboto;
    }
}

/* test */ 

