
.buttonsMain {
  height: auto;
  position: relative;
  padding-bottom: 30px;

  img {
    width: 400px;
  }

  h2 {
    width: 100%;
    position: relative;
    margin-bottom: 45px;
    color: white;
    background: $primaryColor;
    font-size: 30px;
    letter-spacing: 1px;
  }
}


@media (max-width: 768px) {
    .buttonsMain h2{
      font-size: 20px;
      display: flex;
      justify-content: center;
    }
}

@media (min-width: 768px) {
  .buttonsMain {
    overflow: hidden;
    width: fit-content;
    padding: 0;
  }


  .mainCard {
    overflow: hidden;
    border-radius: 3px;
    text-align: center;
    border-radius: 3px;
    transition: .4s;

    img {
      width: fit-content;
      height: fit-content;
    }

  }

}

/* H2 media */


@media (min-width:768px) {
  .mainCard h2 {
    position: absolute;
    z-index: 1;
    width: 200px;
    bottom: 20px;
    margin-left: 230px;
    padding: 6px 0;
    color: white;
    background: $primaryColor;
    font-size: 30px;
    letter-spacing: 1px;
  }

}
@media (min-width:996px) {
  .mainCard h2 {
    position: absolute;
    z-index: 1;
    width: 300px;
    bottom: 20px;
    margin-left: 180px;
    padding: 6px 0;
    color: white;
    background: $primaryColor;
    font-size: 30px;
    letter-spacing: 1px;
  }



  .mainCard:hover::before {
    left: -180%;
  }

  .mainCard img {
    filter: grayscale(80%);
    transition: 2s;
  }

  .mainCard:hover img {
    filter: grayscale(0%);
    transform: scale(1.1);

  }
}

