$primaryColor: #eb6864;
$backgroundColor: #ced4da;
$footerColor: black;
$textSize: 14px;

$textStyle:(regular: 400,
    medium: 500,
    bold: 600,
    primaryColorText: black,
    secondaryColorText: #eb6864,

)
/* test */