@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@200&family=Source+Sans+Pro&display=swap");
* {
  padding: 0%;
  margin: 0%;
  font-family: Roboto;
  list-style: none;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  background: #eb6864;
}

a {
  text-decoration: none;
  color: black;
}

/* navbar */
nav {
  background-color: #eb6864;
}
nav .nav-item a {
  font-size: 20px;
  margin-left: 20px;
}
nav .navbar-brand {
  font-size: 30px;
  padding-right: 25px;
}

body {
  background-color: #ced4da;
  overflow-x: hidden;
}

/* footer */
footer {
  background-color: black;
  position: relative;
  width: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
footer h5 {
  padding-top: 5px;
  color: white;
  font-family: Roboto;
}

/* test */
/* test */
.buttonsMain {
  height: auto;
  position: relative;
}
.buttonsMain img {
  width: 400px;
}
.buttonsMain h2 {
  width: 100%;
  margin-bottom: 45px;
  color: white;
  background: #eb6864;
  font-size: 30px;
  letter-spacing: 1px;
}


@media (max-width: 768px) {
  .buttonsMain h2 {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .buttonsMain {
    overflow: hidden;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .mainCard {
    overflow: hidden;
    border-radius: 3px;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .mainCard img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

}
/* H2 media */

@media (min-width: 768px) {
  .mainCard h2 {
    position: absolute;
    z-index: 1;
    width: 200px;
    bottom: 20px;
    margin-left: 230px;

    padding: 6px 0;
    color: white;
    background: #eb6864;
    font-size: 30px;
    letter-spacing: 1px;
  }
}
@media (min-width: 996px) {
  .mainCard h2 {
    position: absolute;
    z-index: 1;
    width: 300px;

    bottom: 20px;
    margin-left: 180px;
    padding: 6px 0;
    color: white;
    background: #eb6864;
    font-size: 30px;
    letter-spacing: 1px;
  }
  
  .mainCard:hover::before {
    left: -180%;
  }
  .mainCard img {
    -webkit-filter: grayscale(80%);
            filter: grayscale(80%);
    -webkit-transition: 2s;
    transition: 2s;
  }
  .mainCard:hover img {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/* test */
.contactInserts {
  position: relative;
}

#contactForm input {
  margin-top: 5px;
  margin-left: 3%;
  width: 90%;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

#contactForm {
  padding: 20px;
  width: 300px;
}

#contactForm input:focus {
  outline: none;
  border: 3px solid #eb6864;
}

#contactForm textarea {
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 250px;
}

#contactForm textarea:focus {
  outline: none;
  border: 3px solid #eb6864;
}

.submitButton {
  padding-right: 10px;
}

#submit {
  background-color: #eb6864;
  color: white;
  width: 60px !important;
}

.labelText {
  font-weight: 500;
  color: black;
}

/* test */
.card {
  background-color: #ced4da;
  border: 0px;
  border-radius: 0px;
}
.card .card-text {
  font-family: Roboto;
  margin-top: 10px;
}
.card .card-text h5 {
  font-weight: 500;
  color: black;
}
.card .card-text p {
  color: #eb6864;
  font-weight: 600;
}

/* test */