@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@200&family=Source+Sans+Pro&display=swap");
* {
  padding: 0%;
  margin: 0%;
  font-family: Roboto;
  list-style: none;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  background: #eb6864;
}

a {
  text-decoration: none;
  color: black;
}

/* navbar */
nav {
  background-color: #eb6864;
}
nav .nav-item a {
  font-size: 20px;
  margin-left: 20px;
}
nav .navbar-brand {
  font-size: 30px;
  padding-right: 25px;
}

body {
  background-color: #ced4da;
  overflow-x: hidden;
}

/* footer */
footer {
  background-color: black;
  position: relative;
  width: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
footer h5 {
  padding-top: 5px;
  color: white;
  font-family: Roboto;
}


.buttonsMain {
  height: auto;
  position: relative;
  padding-bottom: 30px;

}
.buttonsMain img {
  width: 400px;
}
.buttonsMain h2 {
  width: 100%;
  position: relative;
  margin-bottom: 45px;
  color: white;
  background: #eb6864;
  font-size: 30px;
  letter-spacing: 1px;
}


@media (max-width: 768px) {
  .buttonsMain h2 {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .buttonsMain {
    overflow: hidden;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
  }
  .mainCard {
    overflow: hidden;
    border-radius: 3px;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .mainCard img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

}
/* H2 media */
@media (min-width: 768px) {
  .mainCard h2 {
    position: absolute;
    z-index: 1;
    width: 200px;
    bottom: 20px;
    margin-left: 230px;
    padding: 6px 0;
    color: white;
    background: #eb6864;
    font-size: 30px;
    letter-spacing: 1px;
  }
}
@media (min-width: 996px) {
  .mainCard h2 {
    position: absolute;
    z-index: 1;
    width: 300px;
    bottom: 20px;
    margin-left: 180px;
    padding: 6px 0;
    color: white;
    background: #eb6864;
    font-size: 30px;
    letter-spacing: 1px;
  }
  .mainCard:hover::before {
    left: -180%;
  }
  .mainCard img {
    -webkit-filter: grayscale(80%);
            filter: grayscale(80%);
    -webkit-transition: 2s;
    transition: 2s;
  }
  .mainCard:hover img {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.contactInserts {
  position: relative;

}
/* H2 media */


@media (min-width: 768px) {
  .mainCard h2 {
    position: absolute;
    z-index: 1;
    width: 200px;
    bottom: 20px;
    margin-left: 230px;

    padding: 6px 0;
    color: white;
    background: #eb6864;
    font-size: 30px;
    letter-spacing: 1px;
  }
}
@media (min-width: 996px) {
  .mainCard h2 {
    position: absolute;
    z-index: 1;
    width: 300px;

    bottom: 20px;
    margin-left: 180px;
    padding: 6px 0;
    color: white;
    background: #eb6864;
    font-size: 30px;
    letter-spacing: 1px;
  }
  
  .mainCard:hover::before {
    left: -180%;
  }
  .mainCard img {
    -webkit-filter: grayscale(80%);
            filter: grayscale(80%);
    -webkit-transition: 2s;
    transition: 2s;
  }
  .mainCard:hover img {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/* test */
.contactInserts {
  position: relative;
}

#contactForm input {
  margin-top: 5px;
  margin-left: 3%;
  width: 90%;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

#contactForm {
  padding: 20px;
  width: 300px;
}

#contactForm input:focus {
  outline: none;
  border: 3px solid #eb6864;
}

#contactForm textarea {
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 90%;
  margin-left: 9px;
  border-radius: 4px;
}

#contactForm textarea:focus {
  outline: none;
  border: 3px solid #eb6864;
}

.submitButton {
  padding-right: 10px;
}

#submit {
  background-color: #eb6864;
  color: white;
  width: 60px !important;
}

.labelText {
  font-weight: 500;
  color: black;
}

.footerContact {
  z-index: 0;
  bottom: -320px;
  margin: 0px;
}

/* test */
.card {
  background-color: #ced4da;
  border: 0px;
  border-radius: 0px;
}
.card .card-text {
  font-family: Roboto;
  margin-top: 10px;
}
.card .card-text h5 {
  font-weight: 500;
  color: black;
}
.card .card-text p {
  color: #eb6864;
  font-weight: 600;
}

/* test */
.saleGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "aside" "rs1" "rs2" "rs3" "rs4";
}

img {
  width: 100%;
  height: 100%;
}

.aside {
  grid-area: aside;
  padding: 5px;
}

#rs1 {
  grid-area: rs1;
  width: 100%;
  margin: 0;
  padding: 5px 5px 100px 5px;
}
#rs1 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: red;
  text-decoration: line-through;
  font-size: 20px;
  margin: 0px;
}
#rs1 .discountedPrice {
  text-decoration: none;
  color: #eb6864;
}
#rs1 .saleText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#rs2 {
  grid-area: rs2;
  width: 100%;
  margin: 0;
  padding: 5px 5px 100px 0px;
}
#rs2 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: red;
  text-decoration: line-through;
  font-size: 20px;
  margin: 0px;
}
#rs2 .discountedPrice {
  text-decoration: none;
  color: #eb6864;
}
#rs2 .saleText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#rs3 {
  grid-area: rs3;
  width: 100%;
  margin: 0;
  padding: 5px 5px 100px 5px;
}
#rs3 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: red;
  text-decoration: line-through;
  font-size: 20px;
  margin: 0px;
}
#rs3 .discountedPrice {
  text-decoration: none;
  color: #eb6864;
}
#rs3 .saleText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#rs4 {
  grid-area: rs4;
  width: 100%;
  margin: 0;
  padding: 5px 5px 100px 0px;
}
#rs4 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: red;
  text-decoration: line-through;
  font-size: 20px;
  margin: 0px;
}
#rs4 .saleText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#rs4 footer {
  padding-bottom: 8px;
}

@media (min-width: 320px) {
  .diagonal-box {
    position: relative;
    z-index: 1;
    bottom: 450px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(34%, rgb(235, 104, 100)), to(rgb(235, 100, 179)));
    background: linear-gradient(90deg, rgb(235, 104, 100) 34%, rgb(235, 100, 179) 100%);
    -webkit-transform: skewY(-11deg);
            transform: skewY(-11deg);
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 50em;
    margin: 0 auto;
    font-family: Roboto;
    color: white;
  }
  .diagonal-box2 {
    position: relative;
    z-index: 1;
    bottom: 430px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(34%, rgb(235, 104, 100)), to(rgb(235, 100, 179)));
    background: linear-gradient(90deg, rgb(235, 104, 100) 34%, rgb(235, 100, 179) 100%);
    -webkit-transform: skewY(-11deg);
            transform: skewY(-11deg);
  }
  .content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 50em;
    margin: 0 auto;
    font-family: Roboto;
    color: white;
  }
}
@media (min-width: 465px) {
  .diagonal-box {
    position: relative;
    z-index: 1;
    bottom: 700px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(34%, rgb(235, 104, 100)), to(rgb(235, 100, 179)));
    background: linear-gradient(90deg, rgb(235, 104, 100) 34%, rgb(235, 100, 179) 100%);
    -webkit-transform: skewY(-11deg);
            transform: skewY(-11deg);
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 50em;
    margin: 0 auto;
    font-family: Roboto;
    color: white;
  }
  .diagonal-box2 {
    position: relative;
    z-index: 1;
    bottom: 680px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(34%, rgb(235, 104, 100)), to(rgb(235, 100, 179)));
    background: linear-gradient(90deg, rgb(235, 104, 100) 34%, rgb(235, 100, 179) 100%);
    -webkit-transform: skewY(-11deg);
            transform: skewY(-11deg);
  }
  .content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 50em;
    margin: 0 auto;
    font-family: Roboto;
    color: white;
  }
}
@media (min-width: 768px) {
  .saleGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "aside rs1 rs2" "aside rs3 rs4";
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  .aside {
    grid-area: aside;
    padding: 5px;
  }
  .aside .diagonal-box {
    position: relative;
    z-index: 1;
    bottom: 800px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(34%, rgb(235, 104, 100)), to(rgb(235, 100, 179)));
    background: linear-gradient(90deg, rgb(235, 104, 100) 34%, rgb(235, 100, 179) 100%);
    -webkit-transform: skewY(-11deg);
            transform: skewY(-11deg);
  }
  .aside .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 50em;
    margin: 0 auto;
    font-family: Roboto;
    color: white;
  }
  .aside .diagonal-box2 {
    position: relative;
    z-index: 1;
    bottom: 780px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(34%, rgb(235, 104, 100)), to(rgb(235, 100, 179)));
    background: linear-gradient(90deg, rgb(235, 104, 100) 34%, rgb(235, 100, 179) 100%);
    -webkit-transform: skewY(-11deg);
            transform: skewY(-11deg);
  }
  .aside .content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 50em;
    margin: 0 auto;
    font-family: Roboto;
    color: white;
  }
}
@media (min-width: 1440px) {
  .saleGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "aside rs1 rs2" "aside rs3 rs4";
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  .aside {
    grid-area: aside;
    padding: 5px;
  }
  .aside .diagonal-box {
    position: relative;
    z-index: 1;
    bottom: 1200px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(34%, rgb(235, 104, 100)), to(rgb(235, 100, 179)));
    background: linear-gradient(90deg, rgb(235, 104, 100) 34%, rgb(235, 100, 179) 100%);
    -webkit-transform: skewY(-11deg);
            transform: skewY(-11deg);
  }
  .aside .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 50em;
    margin: 0 auto;
    font-family: Roboto;
    color: white;
  }
  .aside .diagonal-box2 {
    position: relative;
    z-index: 1;
    bottom: 1180px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(34%, rgb(235, 104, 100)), to(rgb(235, 100, 179)));
    background: linear-gradient(90deg, rgb(235, 104, 100) 34%, rgb(235, 100, 179) 100%);
    -webkit-transform: skewY(-11deg);
            transform: skewY(-11deg);
  }
  .aside .content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 50em;
    margin: 0 auto;
    font-family: Roboto;
    color: white;
  }
}
@media (min-width: 1920px) {
  .saleGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "aside rs1 rs2" "aside rs3 rs4";
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  .aside {
    grid-area: aside;
    padding: 5px;
  }
  .aside .diagonal-box {
    position: relative;
    z-index: 1;
    bottom: 1350px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(34%, rgb(235, 104, 100)), to(rgb(235, 100, 179)));
    background: linear-gradient(90deg, rgb(235, 104, 100) 34%, rgb(235, 100, 179) 100%);
    -webkit-transform: skewY(-11deg);
            transform: skewY(-11deg);
  }
  .aside .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 50em;
    margin: 0 auto;
    font-family: Roboto;
    color: white;
  }
  .aside .diagonal-box2 {
    position: relative;
    z-index: 1;
    bottom: 1330px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(34%, rgb(235, 104, 100)), to(rgb(235, 100, 179)));
    background: linear-gradient(90deg, rgb(235, 104, 100) 34%, rgb(235, 100, 179) 100%);
    -webkit-transform: skewY(-11deg);
            transform: skewY(-11deg);
  }
  .aside .content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 50em;
    margin: 0 auto;
    font-family: Roboto;
    color: white;
  }
}